.flowers{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flower{
    border: 1px solid brown;
    padding: 15px;
    border-radius: 10px;
    margin-right: 20px;
}

.descr{
    max-width: 500px;
}